@model Distance.MVC.Models.MasterDataModel



<div class="form-group">
    <label class="col-sm-4 control-label" for="textinput">Name<span style="color:red; font-weight: bold;">*</span> </label>
    <div class="col-md-5">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Username", @maxlength = 30 })</div>

</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="textinput">Lat<span style="color:red; font-weight: bold;">*</span> </label>
    <div class="col-md-5">@Html.TextBoxFor(m => m.Lat, new { @class = "form-control", @placeholder = "Lat", @maxlength = 30 })</div>

</div>
<div class="form-group">
    <label class="col-sm-4 control-label" for="textinput">Lon<span style="color:red; font-weight: bold;">*</span> </label>
    <div class="col-md-5">@Html.TextBoxFor(m => m.Lon, new { @class = "form-control", @placeholder = "Lon", @maxlength = 30 })</div>

</div>

<div class="form-group">
    <label class="col-sm-4 control-label" for="textinput">Province<span style="color:red; font-weight: bold;">*</span> :</label>
    <div class="col-md-4">
        @Html.Action("Province", "DropDown", new { SelectedProperty = "ProvinceId", CSSClass = "form-control", SelectedValue = Model.PID })
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label" for="textinput">Status<span style="color:red; font-weight: bold;">*</span> :</label>
    <div class="col-md-4">
        @Html.Action("StatusList", "DropDown", new { SelectedProperty = "StatusId", CSSClass = "form-control", SelectedValue = Model.Status })
    </div>
</div>

